*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

body{
    background-image: radial-gradient(
        rgb(17,17,17, 0.7),
        rgb(30,30,30, 0.7)
    ), url("./img/back.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
}

.galeria {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
        "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
        "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8"
    ;
    gap: 12px;
}
.foto{
    background-color:red;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./img/dollybolsonaro.jpg);
}
.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/dolly_refrigerante.jpg);
    background-position: center;
}
.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/dolly_cAvJcwF.jpg);
    background-position: center;
}
.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/dollybr.jpg);
    background-position: center;
}
.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/dollyfut.jpg);
    background-position: center;
}
.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/doly.jpg);
    background-position: center;
}
.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/refrigerante-dolly-guaraná.jpg);
    background-position: center;
}
.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/size_960_16_9_dolly-comercial.jpg);
    background-position: center;
}

.foto:hover > .foto__info{
    transform: translateY(0%);
}

.foto__info{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #0009;
    color: white;
    bottom: 0;
    transform: translateY(100%);
    transition: 1s;
}